.contenedor {
  width: 100%;
  max-width: 100%;
  margin: 0em auto;
  font: 0.9em/1.2 Arial, Helvetica, sans-serif;
  background-color: rgba(246, 247, 251, 255);
}

.container {
  margin-top: 25px;
  margin-bottom: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 50px;
  gap: 25px;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

/* button {
    
    display: inline;
    justify-content: space-between;
    align-items: center;
  } */

/* Structure */
.example-container {
  position: relative;
}

.example-table-container {
  position: relative;
  min-height: 200px;
  max-height: 700px;
  overflow: auto;
}

table {
  width: 100%;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}


.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.overlay {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.286);
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;
}