.contenedor {
  width: 80%;
  max-width: 100%;
  margin: 0em auto;
  font: 0.9em/1.2 Arial, Helvetica, sans-serif;
  background-color: rgba(246, 247, 251, 255);
}

.container {
  display: grid;
  margin-top: 25px;
  grid-template-columns: 1fr 2fr;
  gap: 25px;
}

.containerData {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 100px;
  gap: 25px;
  height: 60%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.guardar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 80px;
}