<div class="contenedor">
    <h4><strong>CREACIÓN DE CLIENTES</strong></h4>
    <mat-divider></mat-divider>
    <div class="space">


        <div class="container">
            <mat-form-field appearance="outline">
                <mat-label>Primer nombre</mat-label>
                <input matInput placeholder="Primer nombre">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Segundo nombre</mat-label>
                <input matInput placeholder="Segundo nombre">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Primer apellido</mat-label>
                <input matInput placeholder="Primer apellido">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Segundo apellido</mat-label>
                <input matInput placeholder="Segundo apellido">
            </mat-form-field>

            <mat-form-field>
                <mat-label>zona</mat-label>
                <mat-select>
                    <mat-option value="one">First option</mat-option>
                    <mat-option value="two">Second option</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>municipio</mat-label>
                <mat-select>
                    <mat-option value="one">First option</mat-option>
                    <mat-option value="two">Second option</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>departamento</mat-label>
                <mat-select>
                    <mat-option value="one">First option</mat-option>
                    <mat-option value="two">Second option</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>pais</mat-label>
                <mat-select>
                    <mat-option value="one">First option</mat-option>
                    <mat-option value="two">Second option</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Tipo de cliente</mat-label>
                <mat-select>
                    <mat-option value="one">First option</mat-option>
                    <mat-option value="two">Second option</mat-option>
                </mat-select>
            </mat-form-field>

            
        </div>


    </div>
</div>