<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<head>
  ...
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
  />
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  />

</head>

<script type="text/javascript">
document.querySelector('.img__btn').addEventListener('click', function() {
  document.querySelector('.cont').classList.toggle('s--signup');
});
</script>


<div class="container-fluid">
  <div class="row no-gutter">
    <!-- The image half -->
    <div class="col-md-6 d-none d-md-flex bg-image"></div>
    <!-- The content half -->
    <div class="col-md-6 bg-light" [@inOutAnimation]>
      <div
        class="login d-flex align-items-center py-5"
        style="background-color: white"
      >
        <!-- Demo content-->
        <div class="container" style="background-color: white">
          <div class="row">
            <div class="col-lg-10 col-xl-7 mx-auto" style="text-align: center">
              <div class="recortada" style="text-align: center">
                <!-- src="https://i.pinimg.com/originals/12/fd/82/12fd8281cf15500d9f4956f63f3250cf.jpg" -->
                <img
                  
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS310jhcuBugEYGo-tXFkIgwFGlanxknHAEoQ&usqp=CAU"
                  id="icon"
                  alt="User Icon"
                  style="width: 50%"
                />
              </div>
              <h3 class="display-4">Mis ventas, SA</h3>
              <p class="text-muted mb-4">
                <!-- Centralizando la información -->
              </p>

                <div class="form-group mb-3" autocomplete=off>
                  <input
                    id="inputEmail"
                    type="email"
                    [(ngModel)]='usuario'
                    placeholder="Usuario "

                    class="form-control rounded-pill border-0 shadow-sm px-4"
                  />
                </div>
                <div class="form-group mb-3">
                  <input
                    id="inputPassword"
                    [(ngModel)]='pass'
                    type="password"
                    placeholder="Contraseña"
                    required=""
                    class="
                      form-control
                      rounded-pill
                      border-0
                      shadow-sm
                      px-4
                      text-primary
                    "
                  />
                </div>
              <form>
                <button
                  type="submit"
                  class="
                    btn btn-primary btn-block
                    text-uppercase
                    mb-2
                    rounded-pill
                    shadow-sm
                  "
                  (click)="login()"

                >
                  Iniciar sesión
                </button>
              </form>
            </div>
          </div>
          <p class="text-muted mb-4" style="text-align: center;">
            <!-- GUATEX® -->
          </p>
        </div>


        <!-- End -->
      </div>
    </div>

    <!-- End -->
  </div>
  <div>

  </div>

</div>


<!-- <div class="mobile-screen">
  <div class="header">
    <h1>Mis ventas, SA</h1>
  </div>

  <div class="logo"></div>

  <form id="registration-form">
    <input type="email" name="email" placeholder="E-mail">
    <input type="password" name="pass" placeholder="Password">
    <input type="password" name="repass" placeholder="Repeat password">
    <a href="#" class="login-btn" id="signup-btn">Sign Up</a>
  </form>

  <form id="login-form">
    <img src="assets/logito2.png" style="height: 240px; width: auto; position: static;" alt="">
    <input type="user" name="user" placeholder="Usuario">
    <input type="password" name="pass" placeholder="Contraseña">
    <a href="#" class="login-btn">Log in</a>
  </form>

  <form id="fpass-form">
    <input type="text" name="forgotten" placeholder="E-mail or phone number">
    <a href="#" class="login-btn" id="getpass-btn">Get Password</a>
  </form>

  <div class="other-options">
    <div class="option" id="newUser"><p class="option-text">New User</p></div>
    <div class="option" id="fPass"><p class="option-text"> Forgotten password</p></div>
  </div>

</div> -->

<!-- <script>
    $("#newUser").click(function(){
  $("h1").text("Registration");
  $(".logo").css({
    "width":"120px",
    "height":"120px",
    "top":"10px"
  });
  $("#login-form").fadeOut(200);
  $("#registration-form").delay(300).fadeIn(500);
  $(".other-options").fadeOut(200);
});

$("#signup-btn,#getpass-btn").click(function(){
  $("h1").text("Log in");
  $(".logo").css({
    "width":"150px",
    "height":"150px",
    "top":"30px"
  });

  $("#registration-form,#fpass-form").fadeOut(200);
  $("#login-form").delay(300).fadeIn(500);
  $(".other-options").fadeIn(300);
});

$("#fPass").click(function(){
  $("h1").text("Forgotten password");
  $(".logo").css({
    "width":"190px",
    "height":"190px",
    "top":"40px"
  });

  $("#login-form").fadeOut(200);
  $("#fpass-form").delay(300).fadeIn(500);
  $(".other-options").fadeOut(200);
});
</script> -->
