
<div class="contenedor">
    <h4 style="margin-bottom: 25px; margin-top: 25px;"><strong>Modificar Notas</strong></h4>
    <mat-divider></mat-divider>

    <div class="container">
        <mat-form-field appearance="outline">
            <mat-label>Codigo de Nota</mat-label>
            <input matInput>
        </mat-form-field>

        <div class="consultar">
            <div></div><div></div>
            <button mat-fab extended color="primary"><mat-icon>turned_in</mat-icon>Consultar Nota</button>
        </div>
    </div>
    <div class="container">
        <mat-form-field appearance="outline">
            <mat-label>Valor Nota</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Descripcion</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Activo</mat-label>
            <input matInput>
        </mat-form-field>
    </div>


    <div class="guardar">
        <div></div><div></div>
        <button mat-fab extended color="primary"><mat-icon>turned_in</mat-icon>Actualizar</button>
    </div>

</div>