<div class="contenedor">

  <h4><strong>PRODUCTOS</strong></h4>
  <mat-divider></mat-divider>
  <form [formGroup]="productoFormGroupConsulta">
    <div class="container">
      <mat-form-field appearance="outline">
        <mat-label>Código de producto</mat-label>
        <input matInput placeholder="Código de producto" formControlName="codigoProductoControl" [appMaxlength]="40">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Descripción de producto</mat-label>
        <input matInput placeholder="Descripción de producto" formControlName="descripcionProductoControl"
          [appMaxlength]="40">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Fecha de vencimiento</mat-label>
        <input matInput [matDatepicker]="dp3" formControlName="fechaVencimientoControl">
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="dp3"></mat-datepicker-toggle>
        <mat-datepicker #dp3 disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="btncontainer">
      <p></p>
      <button (click)="buscarProducto()" mat-fab extended color="primary"
        style="text-align: center; align-items: center;">
        <mat-icon>search</mat-icon>
        BUSCAR PRODUCTO
      </button>

      <button  mat-fab extended color="accent"
        style="text-align: center; align-items: center;">
        <mat-icon>shopping_cart</mat-icon>
        IR A CARRITO DE COMPRAS
      </button>

      <button (click)="obtenerListadoProductos()" mat-fab extended color="inf" style="text-align: center; align-items: center;">
        <mat-icon>clear</mat-icon>
        LIMPIAR FILTROS
      </button>
      <p></p>
    </div>
  </form>

  <div class="contenedorcards">
    <mat-card class="card" *ngFor="let item of productos">
      <mat-card-header>
        <mat-card-subtitle>{{item.nombrE_PRODUCTO}}</mat-card-subtitle>
      </mat-card-header>
      <div class="image-container">
        <img mat-card-image src="{{item.imagen}}" (click)="alertaCompra(item)" alt="No available photo">
        <mat-card-content>
          <h5 style="margin-top: 5px; text-align: center;">
            {{'Q.'+item.unidadeS_EXISTENTES}}
          </h5>
        </mat-card-content>
        <div class="center-button">
          <button mat-button color="primary" (click)="alertaCompra(item)">
            <mat-icon>add_shopping_cart</mat-icon> Añadir al carrito
          </button>
        </div>
      </div>
    </mat-card>
  </div>
</div>



<!-- <div class="contenedorcards">

    <mat-card class="card" *ngFor="let item of productos">
      <mat-card-header>
        <mat-card-subtitle>{{item.nombrE_PRODUCTO}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{item.imagen}}" alt="No avaible photo">
      <mat-card-content>
        <h5 style="margin-top: 5px; text-align: center; ">
          
        </h5>
      </mat-card-content>
      <br>
      <div class="center-button">
        <div>añadir al carrito</div>
        <button mat-button color="primary"><mat-icon>add_shopping_cart</mat-icon></button>
      </div>
    </mat-card>
  </div> -->
  <!--boton (click)="alertaCompra(item)"-->
  <!--img (click)="alertaCompra(item)" -->