.contenedor {
  width: 90%;
  max-width: 100%;
  margin: 0em auto;
  font: 0.9em/1.2 Arial, Helvetica, sans-serif;
  background-color: rgba(246, 247, 251, 255);
}

.containerNombre {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 100px;
  gap: 25px;
  height: 60%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 100px;
  gap: 25px;
  height: 60%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.infcontainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 100px;
  gap: 25px;
  height: 60%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

table {
  width: 100%;
}
