<div class="contenedor">
    <h4><strong>ELIMINAR CLIENTE</strong></h4>
    <div class="busqueda" style="display: block; align-items: center; text-align: center;">

        <form [formGroup]="codigoFormGroup">
            <mat-form-field appearance="outline" style="margin-top: 20px; margin-right: 25px;">
                <mat-label>Ingresar código</mat-label>
                <input matInput placeholder="Consulta por código" formControlName="codclienteControl" required>
            </mat-form-field>

            <button (click)="buscarCliente()" mat-raised-button color="primary">Buscar cliente</button>
        </form>

    </div>
    <mat-divider></mat-divider>
    <form [formGroup]="datosFormGroup" *ngIf="isFill">
        <div class="containerNombre" style="text-align: center;">

            <mat-form-field appearance="outline" style="text-align: center;">
                <mat-label>Nombre completo</mat-label>
                <input matInput placeholder="Nombre completo" formControlName="nombreControl" [value]="clienteInfo.PRIMER_NOMBRE">
            </mat-form-field>
            <mat-form-field appearance="outline" style="text-align: center;">
                <mat-label>Dirección de cliente</mat-label>
                <input matInput placeholder="Dirección de cliente" formControlName="direccionControl" [value]="clienteInfo.DIRECCION_CLIENTE">
            </mat-form-field>

        </div>
        <div class="infcontainer">

            <mat-form-field appearance="outline">
                <mat-label>Número de NIT</mat-label>
                <input matInput placeholder="No. NIT" formControlName="nitControl" [value]="clienteInfo.NIT">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Correo electrónico</mat-label>
                <input matInput placeholder="no. teléfono" formControlName="telefonoControl" [value]="clienteInfo.TELEFONO">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Estado</mat-label>
                <input matInput formControlName="estadoControl" [value]="clienteInfo.CODIGO_ESTADO">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Categoria</mat-label>
                <input matInput formControlName="categoriaControl" [value]="clienteInfo.CODIGO_CATEGORIA">
            </mat-form-field>

        </div>
        <div (click)="eliminarCliente()" class="busqueda" style="display: block; align-items: center; text-align: center; margin-top: 25px;">
            <button mat-raised-button color="primary">Eliminar cliente</button>
        </div>
    </form>


</div>