<div class="app-container">
    <div class="contenedor">
        <h4><strong>ACTUALIZACIÓN DE CLIENTE</strong></h4>
        <mat-divider></mat-divider><br>
        
        <!-- <button mat-fab extended color="primary" (click)="pruebaactualizar()"
        style="margin-top: 20px;"><mat-icon>search</mat-icon>PRUEBA</button> -->
        <form [formGroup]="codigoForm">

            <div class="containercod">
                <mat-form-field appearance="outline">
                    <mat-label>Ingrese código de cliente a actualizar</mat-label>
                    <input matInput placeholder="Código de cliente" formControlName="codclienteControl" required
                        [appMaxlength]="36" uppercase appNumbersAndLetters>
                        <div *ngIf="codigoForm.get('codclienteControl')?.hasError('minlength')">
                            El código del cliente no cumple con la longitud de caracteres.
                        </div>
                </mat-form-field>
            </div>

            <button mat-fab extended color="primary" (click)="buscarCliente()"
                style="margin-top: 20px;"><mat-icon>search</mat-icon>Buscar</button>

            <br><br><br>

        </form>

        <form [formGroup]="datosFormGroup">

            <div *ngIf="idFind">

                <mat-divider></mat-divider><br>

                <h5>Información personal</h5>
                <div class="infcontainer">
                    <mat-form-field appearance="outline">
                        <mat-label>Primer nombre</mat-label>
                        <input matInput placeholder="Primer nombre" formControlName="primerNombreControl" required
                            [appMaxlength]="15" uppercase appLettersOnly>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Segundo nombre</mat-label>
                        <input matInput placeholder="Segundo nombre" formControlName="segundoNombreControl"
                            [appMaxlength]="15" uppercase>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Primer apellido</mat-label>
                        <input matInput placeholder="Primer apellido" formControlName="primerApellidoControl" required
                            [appMaxlength]="15" uppercase appLettersOnly>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Segundo apellido</mat-label>
                        <input matInput placeholder="Segundo apellido" formControlName="segundoApellidoControl"
                            [appMaxlength]="15" uppercase appLettersOnly>
                    </mat-form-field>
                </div>
                <mat-divider></mat-divider><br>

                <div class="infcontainer">

                    <mat-form-field appearance="outline">
                        <mat-label>Ingrese No. NIT</mat-label>
                        <input matInput placeholder="No. NIT" formControlName="nitControl" required [appMaxlength]="10"
                            uppercase>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>número de teléfono</mat-label>
                        <input matInput placeholder="Número de teléfono" formControlName="numtelefonoControl"
                            [appMaxlength]="8" required appNumbersOnly>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Estado</mat-label>
                        <mat-select formControlName="estadoControl" [errorStateMatcher]="matcher">
                            <mat-option *ngFor="let estado of estadosInfo" [value]="estado.codigO_ESTADO">
                                {{estado.estado}}
                            </mat-option>
                        </mat-select>

                        <mat-error *ngIf="datosFormGroup.get('estadoControl')?.hasError('required')">Selecciona
                            una
                            opción</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Categoria</mat-label>
                        <mat-select formControlName="categoriaControl" [errorStateMatcher]="matcher">
                            <mat-option *ngFor="let categoria of categoriasInfo" [value]="categoria.codigO_CATEGORIA">
                                {{categoria.nombrE_CATEGORIA}}
                            </mat-option>
                        </mat-select>

                        <mat-error *ngIf="datosFormGroup.get('categoriaControl')?.hasError('required')">Selecciona
                            una
                            opción</mat-error>
                    </mat-form-field>
                </div>

                <mat-divider></mat-divider><br>

                <h5>Dirección</h5>
                <div class="containercod">
                    <mat-form-field appearance="outline">
                        <mat-label>Dirección de cliente</mat-label>
                        <input matInput placeholder="Dirección de cliente" formControlName="direccionControl" required
                            [appMaxlength]="150" uppercase appNumbersAndLetters>
                        
                    </mat-form-field>
                </div>

                <button (click)="Actualizar()" mat-fab extended color="primary"
                    style="margin-top: 20px;"><mat-icon>update</mat-icon>Actualizar</button>

            </div>

        </form>

    </div>
</div>